.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: min-content;
  background-color: rgb(217, 234, 255);
}

.Header{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  padding: 0.4rem;
  background-color:rgb(52, 134, 235);
  color: rgb(255, 255, 255);
}

.Header a {
  color: rgb(255, 255, 255);
}

.Schools{
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.School {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  height: 16vh;
  width: 85vw;
  margin: 0.4rem;
  padding: 0.4rem;

  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
}

.School:hover {
  box-shadow: 2px 2px 
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.SchoolDetail, .Form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 85vw;
  margin: 1rem;
  padding: 0.5rem;

  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
}

.Form {
  align-items:stretch;
  height: 60vh;
  padding: 0.8rem;
}

select, button {
  height: 40px;
  border-radius: 6px;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color:rgb(255, 255, 255);
  font-size: 16px;
}

p {
  margin: 0px;
  padding: 0px;
}

.bold {
  font-weight: bold;
  color: rgb(0, 115, 255);
}

.school-location {
  color: darkgray;
}

.return-button{
  width: 100%;
  background-color: rgb(217, 234, 255);
  border-style: none;
  text-align: left;
  margin: 0.2rem;
  padding: 0.2rem;
}

.Footer{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100vw;
  height: 9vh;
  padding: 0.4rem;
  background-color:rgb(52, 134, 235);
  color: rgb(255, 255, 255);
}

.row {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.banner{
  width: 100%;
  background-color: rgb(217, 234, 255);
  border-radius: 6px;
}